name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy: # 'build'를 'deploy'로 변경
    runs-on: ubuntu-latest
    steps:
    - name: Set up Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: 16
    - name: Check out repository
      uses: actions/checkout@v2



    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan ${{ secrets.HOST }} >> ~/.ssh/known_hosts
      env:
        HOST: ${{ secrets.HOST }}

    - name: Install dependencies and deploy
      run: |
        sudo apt-get update
        sudo apt-get install -y rsync
        rsync -avz --exclude='.git*' --exclude='.env' --exclude='.github' . ${{ secrets.USERNAME }}@${{ secrets.HOST }}:${{ secrets.REMOTE_DIRECTORY }}
        ssh ${{ secrets.USERNAME }}@${{ secrets.HOST }} "cd ${{ secrets.REMOTE_DIRECTORY }} && npm install && pm2 restart app.js"
      env:
        USERNAME: ${{ secrets.USERNAME }}
        REMOTE_DIRECTORY: ${{ secrets.REMOTE_DIRECTORY }}

